<%= form_for(dinosaur) do |f| %>
  <% if dinosaur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dinosaur.errors.count, "error") %> prohibited this dinosaur from being saved:</h2>

      <ul>
      <% dinosaur.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
