/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
/**** Base styles ****/
/* line 2, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/basic.css */
nav#page-nav {
  display: block;
}

/* line 6, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/basic.css */
body {
  overflow-y: scroll;
}

/* line 10, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/basic.css */
#container {
  background: #FFF;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 21, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/basic.css */
.box {
  margin: 5px;
  padding: 5px;
  background: #D8D5D2;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 33, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/basic.css */
.box h2 {
  font-size: 14px;
  font-weight: 200;
}

/* line 38, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/basic.css */
.box img {
  display: block;
  width: 100%;
}

/* line 43, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/basic.css */
.col1 {
  width: 80px;
}

/* line 44, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/basic.css */
.col2 {
  width: 180px;
}

/* line 45, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/basic.css */
.col3 {
  width: 280px;
}

/* line 46, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/basic.css */
.col4 {
  width: 380px;
}

/* line 47, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/basic.css */
.col5 {
  width: 480px;
}

/* line 49, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/basic.css */
.col1 img {
  max-width: 80px;
}

/* line 50, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/basic.css */
.col2 img {
  max-width: 180px;
}

/* line 51, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/basic.css */
.col3 img {
  max-width: 280px;
}

/* line 52, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/basic.css */
.col4 img {
  max-width: 380px;
}

/* line 53, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/basic.css */
.col5 img {
  max-width: 480px;
}

/**** Clearfix ****/
/* line 56, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/basic.css */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 57, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/basic.css */
.clearfix:after {
  clear: both;
}

/* line 58, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/basic.css */
.clearfix {
  zoom: 1;
}

/* Centered example */
/* line 2, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/centered.css */
.centered {
  margin: 0 auto;
}

/**** Fluid ****/
/* line 3, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/fluid.css */
#container.fluid {
  padding: 5px 0;
}

/* right margin value is 0.1% less than calculated,
  to allow for rounding errors in Firefox */
/* line 9, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/fluid.css */
.fluid .box {
  margin: 5px 0.9% 5px 1%;
  padding: 5px 1%;
}

/* line 14, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/fluid.css */
.fluid .box.col1 {
  width: 16%;
}

/* line 15, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/fluid.css */
.fluid .box.col2 {
  width: 36%;
}

/* line 16, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/fluid.css */
.fluid .box.col3 {
  width: 56%;
}

/**** Gutters ****/
/* line 3, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/gutters.css */
.has-gutters .box {
  margin: 5px 0;
}

/* line 7, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/gutters.css */
.has-gutters .col1 {
  width: 90px;
}

/* line 8, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/gutters.css */
.has-gutters .col2 {
  width: 230px;
}

/* line 9, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/gutters.css */
.has-gutters .col3 {
  width: 370px;
}

/* line 10, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/gutters.css */
.has-gutters .col4 {
  width: 550px;
}

/* line 1, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/right-to-left.css */
.rtl .box {
  float: right;
  text-align: right;
  direction: rtl;
}

/**** Transitions ****/
/* line 3, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/transitions.css */
.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -ms-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

/* line 12, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/transitions.css */
.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

/* line 20, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/transitions.css */
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
  -moz-transition-property: left, right, top;
  -ms-transition-property: left, right, top;
  -o-transition-property: left, right, top;
  transition-property: left, right, top;
}

/* disable transitions on container */
/* line 30, /usr/local/lib/ruby/gems/2.4.0/gems/masonry-rails-0.2.4/vendor/assets/stylesheets/masonry/transitions.css */
.transitions-enabled.infinite-scroll.masonry {
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -ms-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
}

/* line 5, /Users/Jack/dev/Rails/clickit-charlie/app/assets/stylesheets/letters.scss */
.letter-item {
  width: 320px;
  height: 217px;
  background-color: #2e7fff;
  text-align: center;
  margin: 10px;
}

/* line 13, /Users/Jack/dev/Rails/clickit-charlie/app/assets/stylesheets/letters.scss */
#letter {
  font-size: 120px;
}

/* line 25, /Users/Jack/dev/Rails/clickit-charlie/app/assets/stylesheets/application.scss */
.grid-item {
  margin: 10px;
}

/* line 29, /Users/Jack/dev/Rails/clickit-charlie/app/assets/stylesheets/application.scss */
h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 34, /Users/Jack/dev/Rails/clickit-charlie/app/assets/stylesheets/application.scss */
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

/* line 41, /Users/Jack/dev/Rails/clickit-charlie/app/assets/stylesheets/application.scss */
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

/* line 49, /Users/Jack/dev/Rails/clickit-charlie/app/assets/stylesheets/application.scss */
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

/* line 56, /Users/Jack/dev/Rails/clickit-charlie/app/assets/stylesheets/application.scss */
.nav a:hover {
  background-color: #005f5f;
}

/* line 60, /Users/Jack/dev/Rails/clickit-charlie/app/assets/stylesheets/application.scss */
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  /* line 67, /Users/Jack/dev/Rails/clickit-charlie/app/assets/stylesheets/application.scss */
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* line 75, /Users/Jack/dev/Rails/clickit-charlie/app/assets/stylesheets/application.scss */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
}
