/* line 5, /Users/Jack/dev/Rails/clickit-charlie/app/assets/stylesheets/letters.scss */
.letter-item {
  width: 320px;
  height: 217px;
  background-color: #2e7fff;
  text-align: center;
  margin: 10px;
}

/* line 13, /Users/Jack/dev/Rails/clickit-charlie/app/assets/stylesheets/letters.scss */
#letter {
  font-size: 120px;
}
