<p id="notice"><%= notice %></p>

<h2 style="font-family: 'Trebuchet MS'; text-align: center;">Click the</h2>
<h1 style="font-family: 'Trebuchet MS'; text-align: center; font-size: 72px">Animals</h1>
<h2 style="font-family: 'Trebuchet MS'; text-align: center;">Charlie!</h2>

<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
      <% @animals.each do |animal| %>
          <div class="grid">
            <div class="grid-sizer"></div>
            <div class="grid-item"></div>
              <%= image_tag "#{animal.name.downcase}.jpeg", id: "#{animal.name.downcase}", data: { animal: "#{animal.name.downcase}" } %>
              <%= audio_tag("#{animal.name.downcase}.wav", type: 'wav/audio', autoplay: false, class: animal.name.downcase) %>
          </div>
      <% end %>
</div>