<p id="notice"><%= notice %></p>

<div class="body">
  <h1 class="title">Click the <span style="font-size: 72px">ANIMALS</span> Charlie!</h1>

  <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
    <div class="grid-animal">
      <% @animals.each do |animal| %>
          <div class="animal-item">
            <%= image_tag "#{animal.name.downcase}.jpeg", class: "item", id: "#{animal.name.downcase}", data: { animal: "#{animal.name.downcase}" }, size: '360x240' %>
            <%= audio_tag("animals/#{animal.name.downcase}.wav", type: 'wav/audio', autoplay: false, class: animal.name.downcase) %>
            <h1><%= animal.name.upcase %></h1>
          </div>
      <% end %>
    </div>
  </div>
</div>
