// Place all the styles related to the Letters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.letter-item {
  width: 360px;
  height: 240px;
  background-color: #2e7fff;
  text-align: center;
  margin: 20px;
}

.grid-letter {
  width: 800px;
  margin: 0 auto;
}

#letter {
  font-size: 120px;
}