<!DOCTYPE html>
<html>
  <head>
    <title>ClickitCharlie</title>
    <link rel="icon" href="https://icons8.com/icon/15948/Hand-Up">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>

  </head>

  <body>
    <header>
      <div class="nav">
        <ul>
          <li class="animals"><a href="animals">animals</a></li>
          <li class="letters"><a href="letters">letters</a></li>
          <li class="numbers"><a href="numbers">numbers</a></li>
          <li class="dinosaurs"><a href="dinosaurs">dinosaurs</a></li>
        </ul>
      </div>
    </header>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <%= yield %>
  </body>
</html>
